.footer {
    background-color: #02274f;
    color: white;
    padding: 20px 0;
    cursor: pointer;
  }
  
  .footer h5 {
    margin-bottom: 20px;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  .footer .list-inline-item {
    margin-right: 15px;
  }
  
  @media (max-width: 576px) {
    .footer .text-md-end {
      text-align: left;
    }
  }
  